<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Canvas Engine QUnit Tests</title>
  <link rel="stylesheet" href="../dependencies/qunit-2.4.0.css">
</head>
<body>
<div id="qunit"></div>
<div id="qunit-fixture"></div>
<script src="../dependencies/qunit-2.4.0.js"></script>
<script src="../../js/lib.min.js"></script>
<script src="../dependencies/systemjs-0.19.31/dist/system.js"></script>

<script>
  // set our baseURL reference path
  SystemJS.config({
    map: {
      'plugin-babel': '../../app/dependencies/plugin-babel-0.0.12/plugin-babel.js',
      'systemjs-babel-build': '../../app/dependencies/plugin-babel-0.0.12/systemjs-babel-browser.js'
    },
    transpiler: 'plugin-babel',
    baseURL: '../../app/cengine'
  });
</script>
<script>
  QUnit.config.autostart = false;
  let testMap = {
    component: false,
    text: false,
    image: false,
    timer: false,
    keypress: false,
    mouse: false,
    movement: false
  };

  let doneLoading = function(name){
    testMap[name] = true;
    let tests = Object.keys(testMap);
    let allTrue = true;
    for(let i = 0; i < tests.length; i++){
      if(!testMap[tests[i]]){
        i = tests.length;
        allTrue = false;
      }
    }
    if(allTrue){
      QUnit.start();
      $("#loading").remove();
    }
  };

  (function(){

    let testPath = "../components/";

    SystemJS.import(testPath + "ComponentTests.js").then(function(){
      doneLoading('component');
    });

    SystemJS.import(testPath + "TextTests.js").then(function(){
      doneLoading('text');
    });

    SystemJS.import(testPath + "ImageWrapperTests.js").then(function(){
      doneLoading('image');
    });

    SystemJS.import(testPath + "TimerTests.js").then(function(){
      doneLoading('timer');
    });

    SystemJS.import(testPath + "KeyPressTests.js").then(function(){
      doneLoading('keypress');
    });

    SystemJS.import(testPath + "MouseTests.js").then(function(){
      doneLoading('mouse');
    });

    SystemJS.import(testPath + "MovementTests.js").then(function(){
      doneLoading('movement');
    });

  })();

</script>

<div id="loading">
  <b>Loading Tests...</b>
</div>
</body>
</html>